<div class="jumbotron"><br>
  <h1 class="display-4">Bienvenue sur Eventbrite</h1>
  <p class="lead">Trouve ou sortir plus façilement que jamais !</p>
</div>

<% if current_user != nil %> 
  <%= flash[:success] %>
  <h2>Bienvenue <%= current_user.firstname %> !</h2>
<%else%>
  <div class="alert alert-danger" role="alert"><br>
    <%= flash[:danger] %>
    <p>Vous n'êtes pas connecté !<br>
    <a class="btn btn-info" href="<%= new_user_session_path %>">Se connecter</a> | <a class="btn btn-info" href="<%= new_user_registration_path %>">S'inscrire</a><br><br>
  </div>
<% end %>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>
  <% end %>
</ul>