<% content_for :title, "Events" %>


<div class="container mt-4">
    <% @events.each do |event| %>
    <div class="card flex-row m-2 align-items-center bg-primary">
        <%= image_tag "surf.jpg", class:"card-img-left", size: "200" %>
        <div class="card-body">
          <h5 class="card-title"> <%= event.title %> </h5>
          <% if event.description.to_s.length > 80 %> 
              <p class="card-text"> <%= event.description.to_s[0..80] + ' [...]' %> </p>
          <% else %>
              <p class="card-text"> <%= event.description.to_s[0..80] %> </p>
          <% end %>
          <footer class="blockquote-footer">
            <small class="text-muted">
              <strong><%= event.administrator.firstname %> <%= event.administrator.lastname %></strong> <cite title="Détails de l'event"><%= link_to "voir détails", event_path(event) %></cite>
            </small>
          </footer>
        </div>
    </div>
    <% end %>
  </div>