<% content_for :title, "Events" %>
<hr>
<% @events.each do |event| %>
  <div class="row">
    <div class="col-lg-6"><br>
      <h2><strong> <%= event.title %></strong></h2>
      <p><%= event.description %></p>
      <ul>
        <strong><%= event.start_date.strftime("%Y-%m-%d") %></strong><br>
        <a><%= event.attendances.count %> participants<a><br>
        <a>Prix : <%= event.price %> €<a><br><br>
        <a>Organisateur : <%= event.administrator.firstname%> <%= event.administrator.lastname %><a><br>
        <a>Contact : <%= event.administrator.email %><a><br>
      </ul>
      <a>Montpellier</a>
      <p>Rue <%= event.location %></p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div><hr>
<%end%>